name: Check

on: [push, pull_request]
jobs:
  check:
    name: Run Tests
    runs-on: ubuntu-latest
    if: github.event_name != 'push' || github.event.pull_request.head.repo.full_name == null
    env:
      GRADLE_OPTS: "-Xmx6g -Xms4g"
      CI: true
    steps:
      - name: Checkout source
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run Tests
        run: ./gradlew test verifyPlugin --no-daemon --stacktrace
      - name: Show Reports
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: reports
          path: build/reports/
