name: Release to Stable Channel
# https://plugins.jetbrains.com/plugin/5925-codenarc/versions/stable

on:
  release:
    types: [published]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: "-Xmx6g -Xms4g -Dorg.gradle.daemon=false"
      CI: true
    steps:
      - name: Checkout source
        uses: actions/checkout@v6
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build and publish to JetBrains Marketplace Stable channel with Gradle
        run: ./gradlew publishPlugin -PpluginVersion=${{ github.ref_name }} 
                                     -PpublishPluginToken=${{ secrets.JB_PLUGINS_TOKEN }}
